@import url('https://fonts.googleapis.com/css2?family=Noto+Serif');

.about {
    display: flex;
    background-color: whitesmoke;
    font-family: 'Noto Serif', sans-serif;
    border-radius: 10px;
    font-size: 20px;
    text-align: center;
    padding: 30px;
    margin: auto;
    width: 500px;
}

.join {
    display: inline-flex;
}