@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light');

header {
    color: black;
    font-family: 'Shadows Into Light', helvetica;
    font-size: 25px;
    padding: 0px;
    max-width: 100vw;
    text-align: center;
    justify-content: center;
}

h1 {
    text-align: center;
}