@import url('https://fonts.googleapis.com/css2?family=Coming+Soon');

nav {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    flex-flow: row;
    padding: 5px;
}

.link {
    font-family: 'Shadows Into Light', helvetica;
    font-size: 25px;
}