/* @import url('https://fonts.googleapis.com/css2?family=Coming+Soon');

nav {
    background-color: whitesmoke;
    padding: 5px;
}

.link {
    font-family: 'Shadows Into Light', helvetica;
    font-size: 20px;
} */