@import url('https://fonts.googleapis.com/css2?family=Coming+Soon');

nav {
    display: flex;
    justify-content: space-evenly;
    /* background-color: whitesmoke; */
    padding: 0px;
}

.link {
    font-family: 'Shadows Into Light', helvetica;
    font-size: 25px;
}