@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300');
@import url('https://fonts.googleapis.com/css2?family=Staatliches');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface');

.link {
    display:flex;
    color: #81544c;
}

.post {
    display: flex;
    flex-direction: column;
    font-family: 'Comfortaa', sans-serif;
    text-align: center;
    background-color: #C4D7E5;
    border-radius: 10px;
    margin: 20px;
    overflow: hidden;
    padding: 10px;
    width: 280px;
    border: solid;
    border-color: #81544c;
}

.post button:hover {
    background-color: #EFE4DC;
}

#delete {
    background-color: #EFE4DC;
    border-radius: 50%;
    font-family: georgia; 
    font-size: 13px;
    color: black;
    width: 20px;
}

button {
    font-family: 'Staatliches', sans-serif;
    color: #986960;
    float: left;
    text-align: right;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    font-stretch: expanded;
    background: #C4D7E5;
    padding: 3px 5px 3px 5px;
    border: none;
    width: 280px;
    margin: 5px;
}

h2 {
    font-size: 17px;
    background-color: whitesmoke;
    border-radius: 1px;
    padding: 8px;
}

h3 {
    font-family: 'Abril Fatface', sans-serif;
    font-size: 25px;
    border-radius: 5px;
    padding: 2px;
    text-align: left;
}