@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300');
@import url('https://fonts.googleapis.com/css2?family=Staatliches');

.link {
    display:flex;
}

.post {
    display: flex;
    flex-direction: column;
    font-family: 'Comfortaa', sans-serif;
    text-align: center;
    background-color: #AAC9CE;
    border-radius: 15px;
    margin: 20px;
    overflow: hidden;
    padding: 15px;
    width: 230px;
}

.post button:hover {
    background-color: #B6B4C2;
}

#delete {
    border-radius: 50%;
    font-family: georgia; 
    font-size: 14px;
    color: black;
    width: 20px;
}

button {
    font-family: 'Staatliches', sans-serif;
    color: white;
    float: center;
    text-align: center;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 3px;
    background: #F5CEC7;
    padding: 2px 4px 2px 4px;
    border: none;
    width: 200px;
    margin: 5px;
    height: 25px;
}

h2 {
    font-size: 16px;
    background-color: whitesmoke;
    border-radius: 5px;
    padding: 5px;
}

h3 {
    font-size: 16px;
    background-color: #B6B4C2;
    border-radius: 5px;
    padding: 10px;
}