.comment-container {
    padding: 15px;
}

.input-comment {
    padding: 15px;
}

.posted-by {
    font-family: 'Abril Fatface', sans-serif;
    border-radius: 5px;
    font-size: 25px;
    padding: 5px;
    width: 280px;
}

.selected-post {
    display: flex;
    align-items: center;
    flex-direction:column;
    font-family: 'Comfortaa', sans-serif;
    text-align: center;
    background-color: #c2c2c2;
    border-radius: 15px;
    margin: auto;
    overflow: hidden;
    padding: 15px;
    width: 280px;
}

.text {
    background-color: whitesmoke;
    border-radius: 5px;
    font-weight: bold;
    padding: 8px;
    width: 280px;
}

.view-comments {
    background-color: whitesmoke;
    border-radius: 5px;
    text-align: left;
    font-weight: bold;
    width: 280px;
    padding: 10px;
}