main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  text-align: center;
}

@media screen and (max-width: 450px) {
    * {
      background-color:whitesmoke;
      font-family: 'Helvetica', Times, serif;
      font-size: 15px;
    }

    button {
      font-family: 'Hammersmith One', sans-serif;
      color: white;
      text-align: center;
      border-radius: 8px;
      font-size: 15px;
      background: salmon;
      padding: 3px 5px 3px 5px;
      border: none;
    }

    header {
      flex-direction: column;
      height: 10vh;
      align-items: center;
    }

    footer {
      text-align: center;
    }

    main {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      grid-gap: 5px;
      /* border: solid 1px; */
    }

    nav {
      background-color: salmon;
    }

    .about {
      text-align: center;
    }

    .link {
      font-family: arial;
      font-size: 15px;
    }
}
