body {
  background-color: #E4C7B7;
}

main {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
  padding: 15px;
  overflow: auto;
  position: relative;
}

@media screen and (max-width: 450px) {
    button {
      font-family: 'Hammersmith One', sans-serif;
      color: white;
      text-align: center;
      border-radius: 8px;
      font-size: 14px;
      padding: 3px 5px 3px 5px;
      border: none;
    }

    header {
      background-color: #E4C7B7;
      flex-direction: column;
      font-size: 16px;
      align-items: center;
    }

    footer {
      text-align: center;
    }

    main {
      background-color: #E4C7B7;
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      grid-gap: 5px;
      height: auto;
    }

    nav {
        background-color: #E4C7B7;
        margin: 10px;
    }

    .about {
      background-color: white;
      font-family: Helvetica;
      text-align: center;
      font-size: 14px;
      padding: 5px;
    }

    .link {
      background-color: #E4C7B7;
      font-family: arial;
      font-size: 14px;
    }

    .post {
      max-width: 100vmin;
    }
}
